<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>iTunes</string>
	<key>BuildVersion</key>
	<string>2</string>
	<key>CFBundleShortVersionString</key>
	<string>11.1.5</string>
	<key>CFBundleVersion</key>
	<string>11.1.5</string>
	<key>ProjectName</key>
	<string>iTunesLibrary</string>
	<key>SourceVersion</key>
	<string>1115011001005005</string>
</dict>
</plist>
